openapi: 3.1.0
info:
  title: U.S. Steel SteelTrack Inventory Test Reports API
  description: The U.S. Steel SteelTrack platform provides internet-based customer applications for order management, inventory tracking, shipment history, material release, and test reporting. This API exposes the core SteelTrack capabilities for integration with customer ERP, supply chain, and procurement systems.
  version: '1.0'
  contact:
    name: U.S. Steel Customer Service
    url: https://www.ussteel.com/about-us/doing-business-with-u.-s.-steel
  x-generated-from: documentation
servers:
- url: https://steeltrack.ussteel.com/api
  description: SteelTrack Production
security:
- bearerAuth: []
tags:
- name: Test Reports
  description: Physical, mechanical, and chemical test report operations
paths:
  /test-reports:
    get:
      operationId: listTestReports
      summary: U.S. Steel SteelTrack List Test Reports
      description: Returns physical, mechanical, and chemical test reports for steel products. Includes certified test reports with electronic signatures.
      tags:
      - Test Reports
      parameters:
      - name: coilId
        in: query
        required: false
        description: Filter by coil ID.
        schema:
          type: string
        example: COIL-8765432
      - name: orderId
        in: query
        required: false
        description: Filter by order ID.
        schema:
          type: string
        example: ORD-2025-001234
      - name: reportType
        in: query
        required: false
        description: Filter by test report type.
        schema:
          type: string
          enum:
          - MECHANICAL
          - CHEMICAL
          - PHYSICAL
          - ALL
        example: ALL
      responses:
        '200':
          description: Test reports returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestReportList'
              examples:
                ListTestReports200Example:
                  summary: Default listTestReports 200 response
                  x-microcks-default: true
                  value:
                    total: 1
                    reports:
                    - reportId: RPT-2025-4321
                      coilId: COIL-8765432
                      orderId: ORD-2025-001234
                      product: Cold-Rolled Coil
                      grade: IF
                      reportType: MECHANICAL
                      certified: true
                      reportDate: '2025-02-10'
                      yieldStrength: 34
                      tensileStrength: 47
                      elongation: 44
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message.
          example: Invalid order ID format
        details:
          type: string
          description: Additional error details.
    TestReport:
      type: object
      description: A physical, mechanical, or chemical test report for a steel product.
      properties:
        reportId:
          type: string
          description: Unique test report identifier.
          example: RPT-2025-4321
        coilId:
          type: string
          description: Coil or material identifier.
          example: COIL-8765432
        orderId:
          type: string
          description: Associated order identifier.
          example: ORD-2025-001234
        product:
          type: string
          description: Steel product type.
          example: Cold-Rolled Coil
        grade:
          type: string
          description: Steel grade designation.
          example: IF
        reportType:
          type: string
          description: Type of test report.
          enum:
          - MECHANICAL
          - CHEMICAL
          - PHYSICAL
          example: MECHANICAL
        certified:
          type: boolean
          description: Whether this is a certified test report with electronic signature.
          example: true
        reportDate:
          type: string
          format: date
          description: Date the test report was issued.
          example: '2025-02-10'
        yieldStrength:
          type: number
          description: Yield strength in ksi.
          example: 34
        tensileStrength:
          type: number
          description: Tensile strength in ksi.
          example: 47
        elongation:
          type: number
          description: Elongation percentage.
          example: 44
    TestReportList:
      type: object
      description: Paginated list of test reports.
      properties:
        total:
          type: integer
          description: Total number of matching test reports.
          example: 5
        reports:
          type: array
          description: List of test report records.
          items:
            $ref: '#/components/schemas/TestReport'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication for SteelTrack API.
externalDocs:
  description: U.S. Steel Customer Solutions
  url: https://www.ussteel.com/about-us/doing-business-with-u.-s.-steel
