openapi: 3.1.0
info:
  title: U.S. Steel SteelTrack Inventory Orders API
  description: The U.S. Steel SteelTrack platform provides internet-based customer applications for order management, inventory tracking, shipment history, material release, and test reporting. This API exposes the core SteelTrack capabilities for integration with customer ERP, supply chain, and procurement systems.
  version: '1.0'
  contact:
    name: U.S. Steel Customer Service
    url: https://www.ussteel.com/about-us/doing-business-with-u.-s.-steel
  x-generated-from: documentation
servers:
- url: https://steeltrack.ussteel.com/api
  description: SteelTrack Production
security:
- bearerAuth: []
tags:
- name: Orders
  description: Order status and summary reporting operations
paths:
  /orders:
    get:
      operationId: listOrders
      summary: U.S. Steel SteelTrack List Orders
      description: Returns a list of orders with customizable filtering by facility, status, and date range. Supports sorting by multiple fields.
      tags:
      - Orders
      parameters:
      - name: facility
        in: query
        required: false
        description: Filter by production facility code.
        schema:
          type: string
        example: GH
      - name: status
        in: query
        required: false
        description: Filter by order status.
        schema:
          type: string
          enum:
          - OPEN
          - IN_PRODUCTION
          - SHIPPED
          - CLOSED
          - CANCELLED
        example: OPEN
      - name: customerId
        in: query
        required: false
        description: Filter by customer ID.
        schema:
          type: string
        example: CUST-001234
      - name: fromDate
        in: query
        required: false
        description: Start date for order date range filter (YYYY-MM-DD).
        schema:
          type: string
          format: date
        example: '2025-01-01'
      - name: toDate
        in: query
        required: false
        description: End date for order date range filter (YYYY-MM-DD).
        schema:
          type: string
          format: date
        example: '2025-03-31'
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return.
        schema:
          type: integer
          minimum: 1
          maximum: 500
        example: 50
      - name: offset
        in: query
        required: false
        description: Number of results to skip for pagination.
        schema:
          type: integer
          minimum: 0
        example: 0
      responses:
        '200':
          description: Orders returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
              examples:
                ListOrders200Example:
                  summary: Default listOrders 200 response
                  x-microcks-default: true
                  value:
                    total: 2
                    orders:
                    - orderId: ORD-2025-001234
                      customerId: CUST-001234
                      purchaseOrder: PO-2025-5678
                      status: IN_PRODUCTION
                      facility: GH
                      product: Hot-Rolled Coil
                      quantity: 50.0
                      quantityUnit: tons
                      orderDate: '2025-01-15'
                      requiredDate: '2025-03-01'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: U.S. Steel SteelTrack Get Order
      description: Returns detailed information for a specific order including line items, production status, and delivery details.
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        description: The unique order identifier.
        schema:
          type: string
        example: ORD-2025-001234
      responses:
        '200':
          description: Order details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                GetOrder200Example:
                  summary: Default getOrder 200 response
                  x-microcks-default: true
                  value:
                    orderId: ORD-2025-001234
                    customerId: CUST-001234
                    purchaseOrder: PO-2025-5678
                    status: IN_PRODUCTION
                    facility: Gary Works
                    product: Hot-Rolled Coil
                    grade: A36
                    quantity: 50.0
                    quantityUnit: tons
                    orderDate: '2025-01-15'
                    requiredDate: '2025-03-01'
                    estimatedDeliveryDate: '2025-02-28'
        '404':
          description: Order not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message.
          example: Invalid order ID format
        details:
          type: string
          description: Additional error details.
    Order:
      type: object
      description: A U.S. Steel customer order.
      properties:
        orderId:
          type: string
          description: Unique order identifier.
          example: ORD-2025-001234
        customerId:
          type: string
          description: Customer account identifier.
          example: CUST-001234
        purchaseOrder:
          type: string
          description: Customer purchase order number.
          example: PO-2025-5678
        status:
          type: string
          description: Current order status.
          enum:
          - OPEN
          - IN_PRODUCTION
          - SHIPPED
          - CLOSED
          - CANCELLED
          example: IN_PRODUCTION
        facility:
          type: string
          description: Production facility name or code.
          example: Gary Works
        product:
          type: string
          description: Steel product type.
          example: Hot-Rolled Coil
        grade:
          type: string
          description: Steel grade designation.
          example: A36
        quantity:
          type: number
          description: Order quantity.
          example: 50.0
        quantityUnit:
          type: string
          description: Unit of measure for quantity.
          example: tons
        orderDate:
          type: string
          format: date
          description: Date the order was placed.
          example: '2025-01-15'
        requiredDate:
          type: string
          format: date
          description: Customer required delivery date.
          example: '2025-03-01'
        estimatedDeliveryDate:
          type: string
          format: date
          description: Estimated delivery date from US Steel.
          example: '2025-02-28'
    OrderList:
      type: object
      description: Paginated list of orders.
      properties:
        total:
          type: integer
          description: Total number of matching orders.
          example: 25
        orders:
          type: array
          description: List of order records.
          items:
            $ref: '#/components/schemas/Order'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication for SteelTrack API.
externalDocs:
  description: U.S. Steel Customer Solutions
  url: https://www.ussteel.com/about-us/doing-business-with-u.-s.-steel
